[submodule "modules/debugger-ui-commandline"]
	path = modules/debugger-ui-commandline
	url = git://github.com/jnthn/rakudo-debugger
[submodule "modules/ufo"]
	path = modules/ufo
	url = git://github.com/masak/ufo
[submodule "modules/xml-writer"]
	path = modules/xml-writer
	url = git://github.com/masak/xml-writer
[submodule "modules/svg"]
	path = modules/svg
	url = git://github.com/moritz/svg
[submodule "modules/svg-plot"]
	path = modules/svg-plot
	url = git://github.com/moritz/svg-plot
[submodule "modules/test-mock"]
	path = modules/test-mock
	url = git://github.com/jnthn/test-mock
[submodule "modules/Grammar-Profiler-Simple"]
	path = modules/Grammar-Profiler-Simple
	url = git://github.com/perlpilot/Grammar-Profiler-Simple
[submodule "modules/grammar-debugger"]
	path = modules/grammar-debugger
	url = git://github.com/jnthn/grammar-debugger
[submodule "modules/json"]
	path = modules/json
	url = git://github.com/moritz/json
[submodule "modules/perl6-digest-md5"]
	path = modules/perl6-digest-md5
	url = git://github.com/cosimo/perl6-digest-md5
[submodule "modules/panda"]
	path = modules/panda
	url = git://github.com/tadzik/panda
[submodule "modules/perl6-http-status"]
	path = modules/perl6-http-status
	url = git://github.com/supernovus/perl6-http-status
[submodule "modules/perl6-http-easy"]
	path = modules/perl6-http-easy
	url = git://github.com/supernovus/perl6-http-easy
[submodule "modules/Template-Mojo"]
	path = modules/Template-Mojo
	url = git://github.com/tadzik/Template-Mojo
[submodule "modules/Bailador"]
	path = modules/Bailador
	url = git://github.com/tadzik/Bailador
[submodule "modules/DBIish"]
	path = modules/DBIish
	url = git://github.com/perl6/DBIish
[submodule "modules/uri"]
	path = modules/uri
	url = git://github.com/perl6-community-modules/uri
[submodule "modules/perl6-lwp-simple"]
	path = modules/perl6-lwp-simple
	url = git://github.com/cosimo/perl6-lwp-simple
[submodule "modules/jsonrpc"]
	path = modules/jsonrpc
	url = git://github.com/bbkr/jsonrpc
[submodule "modules/Pod-To-HTML"]
	path = modules/Pod-To-HTML
	url = git://github.com/perl6/Pod-To-HTML
[submodule "modules/doc"]
	path = modules/doc
	url = git://github.com/perl6/doc
[submodule "modules/Perl6-MIME-Base64"]
	path = modules/Perl6-MIME-Base64
	url = git://github.com/perl6/Perl6-MIME-Base64
[submodule "modules/PSGI"]
	path = modules/PSGI
	url = git://github.com/supernovus/perl6-psgi.git
[submodule "modules/shell-command"]
	path = modules/shell-command
	url = git://github.com/tadzik/Shell-Command
[submodule "modules/file-find"]
	path = modules/file-find
	url = git://github.com/tadzik/File-Find
[submodule "modules/p6-Template-Mustache"]
	path = modules/p6-Template-Mustache
	url = git@github.com:softmoth/p6-Template-Mustache.git
[submodule "modules/p6-File-Temp"]
	path = modules/p6-File-Temp
	url = git@github.com:perlpilot/p6-File-Temp.git
[submodule "modules/p6-file-directory-tree"]
	path = modules/p6-file-directory-tree
	url = git@github.com:labster/p6-file-directory-tree.git
[submodule "modules/Terminal-ANSIColor"]
	path = modules/Terminal-ANSIColor
	url = git@github.com:tadzik/Terminal-ANSIColor.git
[submodule "modules/json_fast"]
	path = modules/json_fast
	url = git@github.com:timo/json_fast.git
